.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
example/.dart_tool
.dart_tool
example/.flutter-plugins-dependencies
example/ios/Flutter/flutter_export_environment.sh